<%- include('partials/head') %>

<body id="page-top">

  <!-- Navigation -->
  <%- include('partials/navbar') %>

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Menü</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/main">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Übersicht</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/groups">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Gruppen</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/logout">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Logout</span></a>
      </li>

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </div>
  </header>

  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <% for(var i=0; i<groups.length; i++) {%>
        <div class="col-lg-3">
          <a href="/group/<%- encodeURI(groups[i].name) %>">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <img src="<%= groups[i].picture %>" class="img-thumbnail"></i>
            </div>
            <h3><%= groups[i].name %></h3>
            <p class="lead mb-0"><%= groups[i].description %></p>
          </div>
        </a>
        </div>
        <% } %>
      </div>
    </div>
  </section>
  
  <%- include('partials/footer') %>

</body>

</html>