<%- include('partials/head') %>

<body>

  <!-- Navigation -->
  <%- include('partials/navbar') %>

  <!-- Masthead -->
  <%- include('partials/banner') %>


  <section class="main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="card-text">
            <b>SportUp Live</b> ist eine Plattform für alle, die sich in Zeiten von Social Distancing
            <span>gemeinsam virtuell
              fit halten wollen</span>. Die Plattform möchten Menschen, die aktuell Ihr zu Hause nicht verlassen
            dürfen und
            Trainer,
            die Kurse von zu Hause anbieten wollen, verbinden.
          </p>
          <p>
            Viele Trainer haben seit der Krise alle Einnahmequellen verloren. Wir wollen dir mit dieser Plattform
            helfen
            auf eine einfache Weise mit deinen bisherigen Teilnehmern in Kontakt zu treten oder auch deinen Kurs für
            eine
            größere Gruppe zu öffnen.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fa fa-chalkboard-teacher m-auto text-primary"></i>
            </div>
            <h3>Für Trainer</h3>
            <p class="lead mb-0">Erstellt in Sportup Live ganz einfach einen Kalender mit all euren geplanten
              Livestreams
              und gebt
              ein, wie die Teilnehmer euch für den virtuellen Kurs bezahlen können.</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fa fa-running m-auto text-primary"></i>
            </div>
            <h3>Für Sportbegeisterte</h3>
            <p class="lead mb-0">In der Kalenderfunktion findet ihr alle Livestreams der teilnehmenden Trainer.
              Über die
              Filterfunktion könnt ihr einerseits euren bisherigen Trainer finden oder auch einfach euren
              Lieblingssport
              auswählen oder nach bestimmten Zeiten filtern, um den perfekten Kurs für euch zu finden.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="showcase mt-5">
    <div class="container">
      <div class="col-xl-9 mt-8">
        <h3 class="mb-3 mt-8"><a href="/group">Gruppen</a></h3>
      </div>
      <div class="row">
        <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
          <div class="MultiCarousel-inner">
            <% if (locals.groups) { %>
            <% for(var i=0; i<groups.length; i++) {%>
            <div class="item">
              <div class="pad15">
                <h5><%= groups[i].name %></h5>
                <p><%= groups[i].description %></p>
                <img src="<%= groups[i].picture %>" class="img-thumbnail"></i>
              </div>
            </div>
            <% } %>
            <% } %>
          </div>
          <button class="btn btn-primary leftLst">
            <i class="fa fa-chevron-left"></i> </button>
          <button class="btn btn-primary rightLst"><i class="fa fa-chevron-right"></i></button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="col-xl-9  mt-8">
        <h3 class="mb-3 mt-8"><a href="/events">Events</a></h3>
      </div>
      <div class="row">
        <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
          <div class="MultiCarousel-inner">
            <% if (locals.events) { %>
            <% for(var i=0; i<events.length; i++) {%>
            <div class="item">
              <div class="pad15">
                <h5><%= events[i].name %></h5>
                <p>Start: <%= moment(events[i].startDate).locale('de').format('L LT') %></p>
                <p><%= events[i].description %></p>
              </div>
            </div>
            <% } %>
            <% } %>
          </div>
          <button class="btn btn-primary leftLst">
            <i class="fa fa-chevron-left"></i> </button>
          <button class="btn btn-primary rightLst"><i class="fa fa-chevron-right"></i></button>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <%- include('partials/footer') %>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="js/carousel.js"></script>

</body>

</html>