<%- include('partials/head') %>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <!-- <div class="container"> -->
    <a class="float-left navbar-brand" href="/"><img width="80" style="margin: -5px !important;" class="logo"
        src="/img/logo.svg"></img></a>
    <div class="float-right">
      <a class="btn btn-primary btn-lg" href="/logout">Logout</a>
    </div>
    <!-- </div> -->
  </nav>

  <!-- Masthead -->
  <header class="main text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-8 mx-auto">
          <h1 class="mb-5">Finde deinen nächsten Live-Kurs</h1>
          <h4 class="mb-3" style="opacity: 0.7"><%=events.length%> Events für diese Woche - <%=groups.length%>
            Gruppe(n)
          </h4>
          <!-- </div> -->

          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <!-- <form>
            <div class="form-row"> -->
            <!-- <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
              </div> -->
            <div class="col-12 col-md-12 mb-4 mb-md-0">
              <!-- <button type=" submit" class="btn btn-block btn-lg btn-primary">Loslegen</button> -->
              <!-- <a class="btn btn-primary btn-block btn-lg" href="/login-page">Loslegen</a> -->
            </div>
            <!-- </div>
          </form> -->
          </div>
        </div>
      </div>
  </header>


  <section class="main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="card-text">
            Hallo <%= user.name %>
          </p>
        </div>
      </div>
    </div>
  </section>



  <%- include('partials/events-partial') %>

  <!-- <div class="column">
    <div class="col-12 ">
      <h4>Anstehende Kurse</h4>
    </div>
    <% var comingEvents = 0 
      if (events.length > 0) { 
      var currentDate = new Date()
      events.forEach(function(event){ 
        if (event.startDate > currentDate) {
          comingEvents += 1 %>
    <div class="col-6 col-md-3">
      <%= event.name %> @ <%= event.startDate %>
    </div>
    <% } 
  }); 
      } 
      if (events.length == 0 ){ %>
    <div class="col-6 col-md-3">
      Keine Kurse<br>
      <img src="https://i.pinimg.com/originals/3f/1e/52/3f1e520ee2e31b4e6c6e5ba477d793df.jpg" alt="homer"
        class="img-thumbnail" /></br>
      Auf geht's! Anmelden!
    </div>
    <% } %>
  </div> -->


  <section class="showcase mt-5">
    <div class="container">
      <div class="col-xl-9 mt-8">
        <h3 class="mb-3 mt-8"><a href="/group">Alle Gruppen</a></h3>
      </div>
      <div class="row">
        <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
          <div class="MultiCarousel-inner">
            <% if (locals.groups) { %>
            <% for(var i=0; i<groups.length; i++) {%>
            <div class="item">
              <div class="pad15">
                <h5><%= groups[i].name %></h5>
                <p><%= groups[i].description %></p>
                <img src="<%= groups[i].picture %>" class="img-thumbnail"></i>
              </div>
            </div>
            <% } %>
            <% } %>
          </div>
          <button class="btn btn-primary leftLst">
            <i class="fa fa-chevron-left"></i> </button>
          <button class="btn btn-primary rightLst"><i class="fa fa-chevron-right"></i></button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="col-xl-9  mt-8">
        <h3 class="mb-3 mt-8"><a href="/events">Alle Events</a></h3>
      </div>
      <div class="row">
        <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
          <div class="MultiCarousel-inner">
            <% if (locals.events) { %>
            <% for(var i=0; i<events.length; i++) {%>
            <div class="item">
              <div class="pad15">
                <h5><%= events[i].name %></h5>
                <p>Start: <%= moment(events[i].startDate).locale('de').format('L LT') %>
                  <p><%= events[i].description %></p>
              </div>
            </div>
            <% } %>
            <% } %>
          </div>
          <button class="btn btn-primary leftLst">
            <i class="fa fa-chevron-left"></i> </button>
          <button class="btn btn-primary rightLst"><i class="fa fa-chevron-right"></i></button>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <%- include('partials/footer') %>


  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

</body>

</html>